body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}